.Home {
  gap: inherit;
  display: flex;
  height: 100%;
  .header {
    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 1.125rem;
      /* identical to box height */

      text-align: start;

      color: #455561;
    }
  }
  .body {
    min-width: 300px;
    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      /* identical to box height */

      text-align: center;

      color: #000000;
    }
    .list {
      overflow-y: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      padding: 30px;
    }
  }
  .footer {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 20px;
  }
}
