.DeveloperItem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #455561;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  flex-direction: column;
}
